---
var { page, title, titleClass } = Astro.props;

if (titleClass == null || titleClass == '') 
    titleClass = "text-3xl font-bold";

---
<div class="intro-section flex flex-col mb-8 mt-4 mx-4">
    <span class="p-2 bg-accent-blue-dark box-shadow-blue w-fit font-bold rounded-xl text-sm mb-2 text-white" class="block-header"+>{page}</span>
    <p class={titleClass}>{title}</p>
    <p>
        <slot />
    </p>
</div>