<div class="flex flex-row gap-4 md:gap-8 profile-container">
    <div class="profile-pfp profile-pfp-placeholder" id="profile-avatar"></div>
    <div class="flex flex-col profile-text">
        <span class="text-xl md:text-2xl font-bold" id="profile-name">scort</span>
        <div class="text-xs md:text-sm" id="status-container">
            <span class="status-indicator" id="status-indicator" data-status="offline"></span>
            <span id="status-text">offline</span>
        </div>
    </div>
</div>

<script>
    document.addEventListener("astro:page-load", () => 
    {
        // client side lanyard
        const UID = "66056020786425856";
        const avatarElement = document.getElementById('profile-avatar');
        const nameElement = document.getElementById('profile-name');
        const statusIndicator = document.getElementById('status-indicator');
        const statusText = document.getElementById('status-text');
    
        async function fetchLanyardData() 
        {
            try 
            {
                const response = await fetch(`https://api.lanyard.rest/v1/users/${UID}`);
                if (response.ok) 
                {
                    const toJson = await response.json();
                    const lanyard = toJson.data;
                    if (lanyard.discord_user) 
                    {
                        const { id, avatar, global_name } = lanyard.discord_user;
                        const avatarUrl = `https://cdn.discordapp.com/avatars/${id}/${avatar}.png?size=256`;
                        
                        if (avatarElement) 
                        {
                            avatarElement.style.backgroundImage = `url(${avatarUrl})`;
                            avatarElement.classList.remove('profile-pfp-placeholder');
                        }
                        
                        if (nameElement) 
                        {
                            nameElement.textContent = global_name || 'scort';
                        }
                        
                        if (statusIndicator && statusText) 
                        {
                            statusIndicator.setAttribute('data-status', lanyard.discord_status);
                            statusText.textContent = lanyard.discord_status;
                            
                            // since im always appearing idle on discord
                            // if (statusText.textContent == "idle") 
                            // {
                            //     statusText.textContent = "online";
                            //     statusIndicator.setAttribute('data-status', 'online');
                            // }
                        }
                    }
                } 
                else 
                {
                    console.error('Lanyard API error:', response.status, response.statusText);
                }
            } 
            catch (error) 
            {
                console.error('Failed to fetch Lanyard data:', error);
            }
        }
    
        fetchLanyardData();
        setInterval(fetchLanyardData, 120000);
    })
</script>

<style>
    :root {
        --pfp-size: 64px;
    }
    @media (min-width: theme('screens.md')) {
        :root {
            --pfp-size: 96px;
        }
    }

    .profile-container {
        width: 100%;
        padding-right: 1em;
    }

    .profile-pfp {
        width: var(--pfp-size);
        height: var(--pfp-size);
        border-radius: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .profile-pfp-placeholder {
        background-color: var(--bg-secondary);
    }
    
    .profile-text {
        justify-content: center;
    }

    .status-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 4px;
    }
    .status-indicator[data-status="online"] {
        background-color: rgba(69, 163, 102, 1);
        box-shadow: 0 0 8px rgba(69, 163, 102, 0.7);
    }
    .status-indicator[data-status="idle"] {
        background-color: rgba(255, 192, 78, 1);
        box-shadow: 0 0 8px rgba(255, 192, 78, 0.7);
    }
    .status-indicator[data-status="dnd"] {
        background-color: rgba(218, 62, 68, 1);
        box-shadow: 0 0 8px rgba(218, 62, 68, 0.7);
    }
    .status-indicator[data-status="offline"] {
        background-color: rgba(133, 133, 133, 1);
        box-shadow: 0 0 8px rgba(133, 133, 133, 0.7);
    }
</style>
