---
const {
	title = "scort.cc",
	description = "stay silly :3",
	class: className,
} = Astro.props;

import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

var classNameTotal;

if (className == null || className== '') 
	classNameTotal = "flex flex-col gap-4"
else 
    classNameTotal = className;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<ClientRouter />
	</head>

	<body>
		<Header />
		<main class={classNameTotal}>
			<slot />
		</main>
		<Footer />
	</body>
</html>